body {
    background-color: #f5f6fa;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
}


.MuiCardContent-root {
    padding: 0 !important;
}

.buttons {
    position: absolute;
    width: 100%;
    justify-content: space-evenly;
    bottom: 40px;

}

.buttonsReplay {
    position: absolute;
    width: 100%;
    justify-content: center;
    bottom: 100px;
}

.btnReplay {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border-radius: 50% !important;
    outline-style: none;
    background-color: #3f51b5;
    color: white;

}

.btnReplay:hover {
    color: crimson;
    background-color: #f5f6fa;
}

.tweet {
    position: absolute;
    top: 20px;
    font-family: Verdana;
    font-size: 1em;
    text-align: center !important;
    width: 100%;
    box-sizing: border-box;
}

.tweet p {
    font-weight: 600 !important;
    /* color: black !important; */
    padding: 10px;


}

.advice p {
    position: absolute;
    top: 100px;
    font: 1.8em 'Kaushan Script', cursive;
    /* color: #33cc33; */
    text-align: center !important;
    width: 100%;
    padding: 10px;
    word-wrap: break-word;
    box-sizing: border-box;
    text-shadow: .5px .5px;


}